*{
    padding: 0;
    margin: 0;
}
@import '~bootstrap/scss/bootstrap';
body{
    box-sizing:border-box;
    
    div{
        display: block;
    }
    main{
        position:relative;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;

        div.Header{
            display: block;
            margin-bottom: 50px;
            position: absolute;
            padding: 10px;
            top:0px;
            z-index: 999;
            // border-bottom: 2px solid black;

        }
        
    }
}

